@page "/"
@using Microsoft.Extensions.Logging
@using Blazored.LocalStorage;
@using System.ComponentModel;

@inject IJSRuntime jsRuntime
@inject ILogger<Settings> Logger
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject Simulation simulation;
@inject HttpClient Http

<EditForm EditContext="@editContext">
	<div class="sidebar summary" style="min-width: 300px; background-color: #eee; background-image: none;">
		<Warrior.Shared.Component.Summary editContext=@editContext />
	</div>
	<section id="items">
		<div class="main" style="width: 100%;">
			<div class="content">
				<div class="container-fluid">
					<div class="d-flex align-items-start">
						<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
							@foreach (ItemSlot slot in Enum.GetValues(typeof(ItemSlot)))
							{
								<button class="nav-link @(slot == ItemSlot.MainHand ? "active" : "")" id="v-pills-@(slot)-tab" data-bs-toggle="pill" data-bs-target="#v-pills-@slot" type="button" role="tab" aria-controls="v-pills-mainhand" aria-selected="true">@Utils.EnumUtils.GetDescription(slot)</button>
							}
						</div>
						<div class="tab-content" id="v-pills-tabContent">

							@foreach (ItemSlot slot in Enum.GetValues(typeof(ItemSlot)))
							{
								<div class="tab-pane fade show @(slot == ItemSlot.MainHand ? "active" : "")" id="v-pills-@slot" role="tabpanel" aria-labelledby="v-pills-@(slot)-tab">

									<h2>@Utils.EnumUtils.GetDescription(slot)</h2>

									@if (slot != ItemSlot.Neck && slot != ItemSlot.Trinket1 && slot != ItemSlot.Trinket2 && slot != ItemSlot.Ranged)
									{
										<a href="#" rel="spell=@simulation.settings.enchantSettings.enchants[slot].id" class="select-link"><div class="input-group mb-3">
										<span class="input-group-text" id="basic-addon1">Enchant</span>
										<select class="enchants"  @onchange="(e)=>EnchantSelected(e.Value, slot)">
										@foreach(Enchant enchant in Databases.EnchantDatabase.enchants)
										{
											if (slot == enchant.slot || enchant.id == 0 || (slot == ItemSlot.Ring2 && enchant.slot == ItemSlot.Ring1) || (slot == ItemSlot.OffHand && enchant.slot == ItemSlot.MainHand) ) {
													<option value="@enchant.id" selected="@(simulation.settings.enchantSettings.enchants[slot].id == enchant.id)">@enchant.name</option>
											}
										}
										</select>
										</div></a>
									}
									<br /><br />	
									
									Gems

									@foreach(var g in simulation.settings.equipmentSettings.GetGemSockets(slot))
									{
																			<form class="gem">
  <input class="chosen-value" type="text" value="@simulation.settings.gemSettings.GetGemsByItemId(simulation.settings.equipmentSettings.GetItemBySlot(slot).id)" placeholder="Type to filter">
  <ul class="value-list">
											@foreach(Entities.Gem gem in Databases.GemDatabase.gems)
											{
												<li value="@gem.id" @onclick="() => GemClicked(gem.id)">@gem.name<span><br />@gem.Description()</span></li>
											}
  </ul>
</form>
									}




									<table>
										<thead>
											<tr>
												<td>Name</td>
												<td>Strength</td>
												<td>Agility</td>
												<td>Stamina</td>
												<td>Attack Power</td>
											</tr>
										</thead>
										@foreach (Item item in ItemDatabase.items)
										{
											if (item.itemSlot == slot ||
											(item.itemSlot == ItemSlot.MainHand && slot == ItemSlot.OffHand) ||
											(item.itemSlot == ItemSlot.Ring1 && slot == ItemSlot.Ring2) ||
											(item.itemSlot == ItemSlot.Trinket1 && slot == ItemSlot.Trinket2))
											{
												<tr class="@(item.id == simulation.settings.equipmentSettings.GetSlotId(slot) ? "equipped" : "")" @onclick="() => RowClicked(item.id, slot)">
													<td><a href="#" rel="item=@item.id" class="rowlink">@item.name</a></td>
													<td>@item.strength</td>
													<td>@item.agility</td>
													<td>@item.stamina</td>
													<td>@item.attackPower</td>
												</tr>
											}
										}
									</table>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>




	</section>
</EditForm>

@code {
	public EditContext editContext;
	public ItemSlot currentTab { get; set; } = ItemSlot.MainHand;
	protected override void OnInitialized()
	{
		var storedSettings = localStorage.GetItem<Warrior.Settings.Settings>("Settings");
		if (storedSettings != null)
		{
			simulation.settings = storedSettings;
		}
		editContext = new EditContext(simulation);
		editContext.OnFieldChanged += (sender, eventArgs) =>
		{
			Console.WriteLine("OnFieldChanged for FieldName = " + eventArgs.FieldIdentifier.FieldName + " " + sender.ToString());
			localStorage.SetItem("Settings", simulation.settings);
		};
		base.OnInitialized();
	}

	private Item[]? items;

	public void RowClicked(int id, ItemSlot slot)
	{
		simulation.settings.equipmentSettings.EquipItem(slot, id);
		localStorage.SetItem("Settings", simulation.settings);
	}

	public void GemClicked(int id)
	{
		Console.WriteLine("Called GemClicked: " + id);
	}

	public void EnchantSelected(object value, ItemSlot slot)
	{
		Console.WriteLine("Called enchantSelected: " + slot.ToString() + ":" + Int32.Parse(value.ToString()));
		simulation.settings.enchantSettings.SetEnchant(slot, Int32.Parse(value.ToString()));
		localStorage.SetItem("Settings", simulation.settings);
	}

	protected override async Task OnInitializedAsync()
	{
		//simulation = localStorage.GetItem<Simulation>("Simulation");
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("renderjQueryComponents");
        await base.OnAfterRenderAsync(firstRender);
    }
}






