@page "/settings"
@using Microsoft.Extensions.Logging
@using Blazored.LocalStorage;
@using System.ComponentModel;

@inject ILogger<Settings> Logger
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject Simulation simulation;

<EditForm EditContext="@editContext">
	<div class="sidebar summary" style="min-width: 300px; background-color: #eee; background-image: none;">
		<Warrior.Shared.Component.Summary editContext=@editContext />
	</div>
	<div class="main" style="width: 100%;">
		<div class="content px-4">
			<div class="container-fluid">

				<div class="row">
					<div class="col-sm-4">

						<section id="simulation">
							<h1>Simulation Settings</h1>
							<div class="settings-item">
								<label>Character Race</label>
								<InputSelect @bind-Value="simulation.character.race">
									@foreach (Enum race in Enum.GetValues(typeof(Race)))
									{
										<option value="@race">@Utils.GetDescription(race)</option>
									}
								</InputSelect>
							</div><div style="clear:both"></div>

							<div class="settings-item">
								<label>Combat Length (in seconds)</label>
								<InputNumber @bind-Value="simulation.settings.combatLength"></InputNumber>
							</div><div style="clear:both"></div>
							<div class="settings-item">
								<label>Iterations</label>
								<InputNumber @bind-Value="simulation.settings.iterations"></InputNumber>
							</div><div style="clear:both"></div>
							<div class="settings-item">
								<label>Initial Rage</label>
								<InputNumber @bind-Value="simulation.settings.initialRage"></InputNumber>
							</div><div style="clear:both"></div>
							<div class="settings-item">
								<label>Target Level</label>
								<InputNumber @bind-Value="simulation.settings.targetLevel"></InputNumber>
							</div><div style="clear:both"></div>
							<div class="settings-item">
								<label>Target Armor</label>
								<InputNumber @bind-Value="simulation.settings.targetArmor"></InputNumber>
							</div><div style="clear:both"></div>
							<div class="settings-item">
								<label>AttT</label>
								<InputNumber @bind-Value="simulation.character.talents.ArmoredToTheTeeth.rank"></InputNumber>
							</div><div style="clear:both"></div>
						</section>
					</div>

					<div class="col-sm-8">
						<section id="rotation">
							<h1>Rotation and Cooldowns</h1>
						</section>
					</div>

				</div>

				<section id="buffs">
					<h1>Raid Buffs & Consumables</h1>
					<div class="row">
						<div class="col-sm-3">
							<h2>Additive Strength / Agility</h2>
							@foreach (RaidBuff aura in simulation.character.auraSettings.auras.Where<RaidBuff>(s => s.auraGroup == RaidBuffGroup.AgilityStrength))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.auraSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
						<div class="col-sm-3">
							<h2>Additive Attack Power</h2>
							@foreach (RaidBuff aura in simulation.character.auraSettings.auras.Where<RaidBuff>(s => s.auraGroup == RaidBuffGroup.AttackPower))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.auraSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
						<div class="col-sm-3">
							<h2>Additive Critical Chance</h2>
							@foreach (RaidBuff aura in simulation.character.auraSettings.auras.Where<RaidBuff>(s => s.auraGroup == RaidBuffGroup.MeleeCrit))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.auraSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
						<div class="col-sm-3">
							<h2>Additive Base Stats and Armor</h2>
							@foreach (RaidBuff aura in simulation.character.auraSettings.auras.Where<RaidBuff>(s => s.auraGroup == RaidBuffGroup.StatAdd))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.auraSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<h2>Multiplicative Attack Power</h2>
							@foreach (RaidBuff aura in simulation.character.auraSettings.auras.Where<RaidBuff>(s => s.auraGroup == RaidBuffGroup.AttackPowerPercent))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.auraSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
						<div class="col-sm-3">
							<h2>Multiplicative Damage</h2>
							@foreach (RaidBuff aura in simulation.character.auraSettings.auras.Where<RaidBuff>(s => s.auraGroup == RaidBuffGroup.DamagePercent))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.auraSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
						<div class="col-sm-3">
							<h2>Multiplicative Haste</h2>
							@foreach (RaidBuff aura in simulation.character.auraSettings.auras.Where<RaidBuff>(s => s.auraGroup == RaidBuffGroup.HastePercent))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.auraSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
						<div class="col-sm-3">
							<h2>Multiplicative Melee Haste</h2>
							@foreach (RaidBuff aura in simulation.character.auraSettings.auras.Where<RaidBuff>(s => s.auraGroup == RaidBuffGroup.MeleeHaste))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.auraSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<h2>Multiplicative Base Stats</h2>
							@foreach (RaidBuff aura in simulation.character.auraSettings.auras.Where<RaidBuff>(s => s.auraGroup == RaidBuffGroup.StatPercent))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.auraSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
						<div class="col-sm-3">
							<h2>Battle Elixir</h2>
							@foreach (RaidBuff aura in simulation.character.auraSettings.auras.Where<RaidBuff>(s => s.auraGroup == RaidBuffGroup.BattleElixir))
							{
								<a rel="?item=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.auraSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
						<div class="col-sm-3">
							<h2>Guardian Elixir</h2>
							@foreach (RaidBuff aura in simulation.character.auraSettings.auras.Where<RaidBuff>(s => s.auraGroup == RaidBuffGroup.GuardianElixir))
							{
								<a rel="?item=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.auraSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
						<div class="col-sm-3">
							<h2>Stance</h2>
							@foreach (Stance stance in simulation.character.stanceManager.stances)
							{
								<a rel="?spell=@stance.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.stanceManager.ProcessClick(args.Button, stance.id)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(stance.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(stance.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
					</div>
				</section>

				<section id="debuffs">
					<h1>Raid Debuffs</h1>
					<div class="row">
						<div class="col-sm-3">
							<h2>Armor (Major)</h2>
							@foreach (RaidDebuff aura in simulation.character.debuffSettings.debuffs.Where<RaidDebuff>(s => s.auraGroup == RaidDebuffGroup.MajorArmor))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.debuffSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
						<div class="col-sm-3">
							<h2>Armor (Minor)</h2>
							@foreach (RaidDebuff aura in simulation.character.debuffSettings.debuffs.Where<RaidDebuff>(s => s.auraGroup == RaidDebuffGroup.MinorArmor))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.debuffSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
						<div class="col-sm-3">
							<h2>Physical Vulnerability</h2>
							@foreach (RaidDebuff aura in simulation.character.debuffSettings.debuffs.Where<RaidDebuff>(s => s.auraGroup == RaidDebuffGroup.PhysicalVulnerability))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.debuffSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
						<div class="col-sm-3">
							<h2>Increased Critical Strike Chance</h2>
							@foreach (RaidDebuff aura in simulation.character.debuffSettings.debuffs.Where<RaidDebuff>(s => s.auraGroup == RaidDebuffGroup.CriticalStrike))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.debuffSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<h2>Increased Bleed Damage</h2>
							@foreach (RaidDebuff aura in simulation.character.debuffSettings.debuffs.Where<RaidDebuff>(s => s.auraGroup == RaidDebuffGroup.BleedEffects))
							{
								<a rel="?spell=@aura.id" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.debuffSettings.ProcessClick(args.Button, aura.id, aura.auraGroup)" @onmouseup:preventDefault>
									<div class="buff-icon @BuffGrayscaleIcon(aura.isActive)" oncontextmenu="return false;" style="background-image: url('../data/icons/auras/@(aura.id).jpg'); background-size: 40px"></div>
								</a>
							}
						</div>
						<div class="col-sm-3">
						</div>
						<div class="col-sm-3">
						</div>
						<div class="col-sm-3">
						</div>
					</div>

				</section>

				<!-- #region Talents -->

				<div class="row">
					<div class="col-sm-6">
						<section id="talents">
							<h1>Talents</h1>
							<div class="container" style="max-width: 900px; margin-left: 0">
								<div class="row">
									<!-- Arms -->
									<div class="col-4">
										<table>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedHeroicStrike.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedHeroicStrike.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedHeroicStrike.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedHeroicStrike.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: 0px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedHeroicStrike.rank, simulation.character.talents.ImprovedHeroicStrike.maxRank)">
														@simulation.character.talents.ImprovedHeroicStrike.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Deflection.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Deflection.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Deflection.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.Deflection.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -36px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Deflection.rank, simulation.character.talents.Deflection.maxRank)">
														@simulation.character.talents.Deflection.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedRend.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedRend.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedRend.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedRend.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -72px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedRend.rank, simulation.character.talents.ImprovedRend.maxRank)">
														@simulation.character.talents.ImprovedRend.rank
													</div>
												</td>
												<td></td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedCharge.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedCharge.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedCharge.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedCharge.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -108px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedCharge.rank, simulation.character.talents.ImprovedCharge.maxRank)">
														@simulation.character.talents.ImprovedCharge.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.IronWill.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.IronWill.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.IronWill.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.IronWill.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -144px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.IronWill.rank, simulation.character.talents.IronWill.maxRank)">
														@simulation.character.talents.IronWill.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.TacticalMastery.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.TacticalMastery.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.TacticalMastery.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.TacticalMastery.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -180px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.TacticalMastery.rank, simulation.character.talents.TacticalMastery.maxRank)">
														@simulation.character.talents.TacticalMastery.rank
													</div>
												</td>
												<td></td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedOverPower.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedOverPower.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedOverPower.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedOverPower.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -216px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedOverPower.rank, simulation.character.talents.ImprovedOverPower.maxRank)">
														@simulation.character.talents.ImprovedOverPower.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.AngerManagement.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.AngerManagement.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.AngerManagement.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.AngerManagement.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -252px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.AngerManagement.rank, simulation.character.talents.AngerManagement.maxRank)">
														@simulation.character.talents.AngerManagement.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Impale.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Impale.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Impale.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Impale.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -288px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Impale.rank, simulation.character.talents.Impale.maxRank)">
														@simulation.character.talents.Impale.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.DeepWounds.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.DeepWounds.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.DeepWounds.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.DeepWounds.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -324px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.DeepWounds.rank, simulation.character.talents.DeepWounds.maxRank)">
														@simulation.character.talents.DeepWounds.rank
													</div>
												</td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.TwoHandedWeaponSpecialization.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.TwoHandedWeaponSpecialization.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.TwoHandedWeaponSpecialization.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.TwoHandedWeaponSpecialization.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -360px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.TwoHandedWeaponSpecialization.rank, simulation.character.talents.TwoHandedWeaponSpecialization.maxRank)">
														@simulation.character.talents.TwoHandedWeaponSpecialization.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.TasteForBlood.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.TasteForBlood.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.TasteForBlood.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.TasteForBlood.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -396px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.TasteForBlood.rank, simulation.character.talents.TasteForBlood.maxRank)">
														@simulation.character.talents.TasteForBlood.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.PoleaxeSpecialization.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.PoleaxeSpecialization.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.PoleaxeSpecialization.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.PoleaxeSpecialization.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -432px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.PoleaxeSpecialization.rank, simulation.character.talents.PoleaxeSpecialization.maxRank)">
														@simulation.character.talents.PoleaxeSpecialization.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.SweepingStrikes.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.SweepingStrikes.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.SweepingStrikes.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.SweepingStrikes.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -468px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.SweepingStrikes.rank, simulation.character.talents.SweepingStrikes.maxRank)">
														@simulation.character.talents.SweepingStrikes.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.MaceSpecialization.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.MaceSpecialization.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.MaceSpecialization.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.MaceSpecialization.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -504px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.MaceSpecialization.rank, simulation.character.talents.MaceSpecialization.maxRank)">
														@simulation.character.talents.MaceSpecialization.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.SwordSpecialization.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.SwordSpecialization.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.SwordSpecialization.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.SwordSpecialization.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -540px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.SwordSpecialization.rank, simulation.character.talents.SwordSpecialization.maxRank)">
														@simulation.character.talents.SwordSpecialization.rank
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.WeaponMastery.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.WeaponMastery.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.WeaponMastery.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.WeaponMastery.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -576px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.WeaponMastery.rank, simulation.character.talents.WeaponMastery.maxRank)">
														@simulation.character.talents.WeaponMastery.rank
													</div>
												</td>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedHamstring.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedHamstring.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedHamstring.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedHamstring.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -612px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedHamstring.rank, simulation.character.talents.ImprovedHamstring.maxRank)">
														@simulation.character.talents.ImprovedHamstring.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Trauma.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Trauma.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Trauma.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Trauma.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -648px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Trauma.rank, simulation.character.talents.Trauma.maxRank)">
														@simulation.character.talents.Trauma.rank
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.SecondWind.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.SecondWind.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.SecondWind.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.SecondWind.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -684px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.SecondWind.rank, simulation.character.talents.SecondWind.maxRank)">
														@simulation.character.talents.SecondWind.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.MortalStrike.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.MortalStrike.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.MortalStrike.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.MortalStrike.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -720px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.MortalStrike.rank, simulation.character.talents.MortalStrike.maxRank)">
														@simulation.character.talents.MortalStrike.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.StrengthOfArms.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.StrengthOfArms.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.StrengthOfArms.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.StrengthOfArms.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -756px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.StrengthOfArms.rank, simulation.character.talents.StrengthOfArms.maxRank)">
														@simulation.character.talents.StrengthOfArms.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedSlam.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedSlam.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedSlam.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedSlam.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -792px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedSlam.rank, simulation.character.talents.ImprovedSlam.maxRank)">
														@simulation.character.talents.ImprovedSlam.rank
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.Juggernaut.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Juggernaut.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Juggernaut.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Juggernaut.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -828px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Juggernaut.rank, simulation.character.talents.Juggernaut.maxRank)">
														@simulation.character.talents.Juggernaut.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedMortalStrike.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedMortalStrike.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedMortalStrike.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedMortalStrike.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -864px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedMortalStrike.rank, simulation.character.talents.ImprovedMortalStrike.maxRank)">
														@simulation.character.talents.ImprovedMortalStrike.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.UnrelentingAssault.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.UnrelentingAssault.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.UnrelentingAssault.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.UnrelentingAssault.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -900px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.UnrelentingAssault.rank, simulation.character.talents.UnrelentingAssault.maxRank)">
														@simulation.character.talents.UnrelentingAssault.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.SuddenDeath.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.SuddenDeath.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.SuddenDeath.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.SuddenDeath.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -936px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.SuddenDeath.rank, simulation.character.talents.SuddenDeath.maxRank)">
														@simulation.character.talents.SuddenDeath.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.EndlessRage.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.EndlessRage.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.EndlessRage.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.EndlessRage.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -972px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.EndlessRage.rank, simulation.character.talents.EndlessRage.maxRank)">
														@simulation.character.talents.EndlessRage.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.BloodFrenzy.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.BloodFrenzy.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.BloodFrenzy.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.BloodFrenzy.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -1008px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.BloodFrenzy.rank, simulation.character.talents.BloodFrenzy.maxRank)">
														@simulation.character.talents.BloodFrenzy.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.WreckingCrew.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.WreckingCrew.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.WreckingCrew.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.WreckingCrew.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -1044px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.WreckingCrew.rank, simulation.character.talents.WreckingCrew.maxRank)">
														@simulation.character.talents.WreckingCrew.rank
													</div>
												</td>
												<td>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Bladestorm.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Bladestorm.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Bladestorm.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Bladestorm.rank" style="background-image: url('../data/icons/arms.jpg'); background-position: -1080px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Bladestorm.rank, simulation.character.talents.Bladestorm.maxRank)">
														@simulation.character.talents.Bladestorm.rank
													</div>
												</td>
												<td>
												</td>
												<td>
												</td>
											</tr>
										</table>
									</div>

									<!-- Fury -->
									<div class="col-4">
										<table>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.ArmoredToTheTeeth.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ArmoredToTheTeeth.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ArmoredToTheTeeth.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ArmoredToTheTeeth.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: 0px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ArmoredToTheTeeth.rank, simulation.character.talents.ArmoredToTheTeeth.maxRank)">
														@simulation.character.talents.ArmoredToTheTeeth.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.BoomingVoice.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.BoomingVoice.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.BoomingVoice.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.BoomingVoice.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -36px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.BoomingVoice.rank, simulation.character.talents.BoomingVoice.maxRank)">
														@simulation.character.talents.BoomingVoice.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Cruelty.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Cruelty.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Cruelty.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Cruelty.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -72px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Cruelty.rank, simulation.character.talents.Cruelty.maxRank)">
														@simulation.character.talents.Cruelty.rank
													</div>
												</td>
												<td></td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedDemoralizingShout.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedDemoralizingShout.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedDemoralizingShout.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedDemoralizingShout.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -108px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedDemoralizingShout.rank, simulation.character.talents.ImprovedDemoralizingShout.maxRank)">
														@simulation.character.talents.ImprovedDemoralizingShout.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.UnbridledWrath.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.UnbridledWrath.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.UnbridledWrath.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.UnbridledWrath.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -144px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.UnbridledWrath.rank, simulation.character.talents.UnbridledWrath.maxRank)">
														@simulation.character.talents.UnbridledWrath.rank
													</div>
												</td>
												<td></td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedCleave.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedCleave.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedCleave.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedCleave.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -180px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedCleave.rank, simulation.character.talents.ImprovedCleave.maxRank)">
														@simulation.character.talents.ImprovedCleave.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.PiercingHowl.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.PiercingHowl.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.PiercingHowl.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.PiercingHowl.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -216px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.PiercingHowl.rank, simulation.character.talents.PiercingHowl.maxRank)">
														@simulation.character.talents.PiercingHowl.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.BloodCraze.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.BloodCraze.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.BloodCraze.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.BloodCraze.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -252px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.BloodCraze.rank, simulation.character.talents.BloodCraze.maxRank)">
														@simulation.character.talents.BloodCraze.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.CommandingPresence.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.CommandingPresence.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.CommandingPresence.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.CommandingPresence.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -288px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.CommandingPresence.rank, simulation.character.talents.CommandingPresence.maxRank)">
														@simulation.character.talents.CommandingPresence.rank
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.DualWieldSpecialization.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.DualWieldSpecialization.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.DualWieldSpecialization.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.DualWieldSpecialization.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -324px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.DualWieldSpecialization.rank, simulation.character.talents.DualWieldSpecialization.maxRank)">
														@simulation.character.talents.DualWieldSpecialization.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedExecute.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedExecute.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedExecute.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedExecute.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -360px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedExecute.rank, simulation.character.talents.ImprovedExecute.maxRank)">
														@simulation.character.talents.ImprovedExecute.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Enrage.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Enrage.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Enrage.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Enrage.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -396px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Enrage.rank, simulation.character.talents.Enrage.maxRank)">
														@simulation.character.talents.Enrage.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.Precision.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Precision.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Precision.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.Precision.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -432px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Precision.rank, simulation.character.talents.Precision.maxRank)">
														@simulation.character.talents.Precision.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.DeathWish.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.DeathWish.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.DeathWish.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.DeathWish.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -468px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.DeathWish.rank, simulation.character.talents.DeathWish.maxRank)">
														@simulation.character.talents.DeathWish.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedIntercept.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedIntercept.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedIntercept.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedIntercept.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -504px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedIntercept.rank, simulation.character.talents.ImprovedIntercept.maxRank)">
														@simulation.character.talents.ImprovedIntercept.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedBerserkerRage.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedBerserkerRage.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedBerserkerRage.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedBerserkerRage.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -540px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedBerserkerRage.rank, simulation.character.talents.ImprovedBerserkerRage.maxRank)">
														@simulation.character.talents.ImprovedBerserkerRage.rank
													</div>
												</td>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Flurry.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Flurry.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Flurry.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Flurry.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -576px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Flurry.rank, simulation.character.talents.Flurry.maxRank)">
														@simulation.character.talents.Flurry.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.IntensifyRage.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.IntensifyRage.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.IntensifyRage.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.IntensifyRage.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -612px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.IntensifyRage.rank, simulation.character.talents.IntensifyRage.maxRank)">
														@simulation.character.talents.IntensifyRage.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Bloodthirst.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Bloodthirst.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Bloodthirst.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.Bloodthirst.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -648px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Bloodthirst.rank, simulation.character.talents.Bloodthirst.maxRank)">
														@simulation.character.talents.Bloodthirst.rank
													</div>
												</td>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedWhirlwind.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedWhirlwind.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedWhirlwind.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedWhirlwind.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -684px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedWhirlwind.rank, simulation.character.talents.ImprovedWhirlwind.maxRank)">
														@simulation.character.talents.ImprovedWhirlwind.rank
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.FuriousAttacks.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.FuriousAttacks.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.FuriousAttacks.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.FuriousAttacks.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -720px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.FuriousAttacks.rank, simulation.character.talents.FuriousAttacks.maxRank)">
														@simulation.character.talents.FuriousAttacks.rank
													</div>
												</td>
												<td>
												</td>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedBerserkerStance.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedBerserkerStance.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedBerserkerStance.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedBerserkerStance.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -756px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedBerserkerStance.rank, simulation.character.talents.ImprovedBerserkerStance.maxRank)">
														@simulation.character.talents.ImprovedBerserkerStance.rank
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.HeroicFury.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.HeroicFury.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.HeroicFury.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.HeroicFury.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -792px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.HeroicFury.rank, simulation.character.talents.HeroicFury.maxRank)">
														@simulation.character.talents.HeroicFury.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Rampage.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Rampage.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Rampage.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.Rampage.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -828px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Rampage.rank, simulation.character.talents.Rampage.maxRank)">
														@simulation.character.talents.Rampage.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Bloodsurge.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Bloodsurge.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Bloodsurge.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.Bloodsurge.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -864px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Bloodsurge.rank, simulation.character.talents.Bloodsurge.maxRank)">
														@simulation.character.talents.Bloodsurge.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.UnendingFury.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.UnendingFury.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.UnendingFury.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.UnendingFury.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -900px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.UnendingFury.rank, simulation.character.talents.UnendingFury.maxRank)">
														@simulation.character.talents.UnendingFury.rank
													</div>
												</td>
												<td>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.TitansGrip.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.TitansGrip.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.TitansGrip.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.TitansGrip.rank" style="background-image: url('../data/icons/fury.jpg'); background-position: -936px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.TitansGrip.rank, simulation.character.talents.TitansGrip.maxRank)">
														@simulation.character.talents.TitansGrip.rank
													</div>
												</td>
												<td>
												</td>
												<td>
												</td>
											</tr>
										</table>
									</div>

									<!-- Protection -->
									<div class="col-4">
										<table>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedBloodrage.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedBloodrage.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedBloodrage.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedBloodrage.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: 0px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedBloodrage.rank, simulation.character.talents.ImprovedBloodrage.maxRank)">
														@simulation.character.talents.ImprovedBloodrage.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ShieldSpecialization.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ShieldSpecialization.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ShieldSpecialization.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.ShieldSpecialization.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -36px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ShieldSpecialization.rank, simulation.character.talents.ShieldSpecialization.maxRank)">
														@simulation.character.talents.ShieldSpecialization.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedThunderClap.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedThunderClap.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedThunderClap.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedThunderClap.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -72px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedThunderClap.rank, simulation.character.talents.ImprovedThunderClap.maxRank)">
														@simulation.character.talents.ImprovedThunderClap.rank
													</div>
												</td>
												<td></td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Incite.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Incite.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Incite.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.Incite.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -108px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Incite.rank, simulation.character.talents.Incite.maxRank)">
														@simulation.character.talents.Incite.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Anticipation.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Anticipation.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Anticipation.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Anticipation.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -144px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Anticipation.rank, simulation.character.talents.Anticipation.maxRank)">
														@simulation.character.talents.Anticipation.rank
													</div>
												</td>
												<td></td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.LastStand.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.LastStand.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.LastStand.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.LastStand.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -180px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.LastStand.rank, simulation.character.talents.LastStand.maxRank)">
														@simulation.character.talents.LastStand.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedRevenge.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedRevenge.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedRevenge.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedRevenge.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -216px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedRevenge.rank, simulation.character.talents.ImprovedRevenge.maxRank)">
														@simulation.character.talents.ImprovedRevenge.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ShieldMastery.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ShieldMastery.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ShieldMastery.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ShieldMastery.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -252px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ShieldMastery.rank, simulation.character.talents.ShieldMastery.maxRank)">
														@simulation.character.talents.ShieldMastery.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Toughness.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Toughness.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Toughness.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.Toughness.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -288px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Toughness.rank, simulation.character.talents.Toughness.maxRank)">
														@simulation.character.talents.Toughness.rank
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedSpellReflection.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedSpellReflection.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedSpellReflection.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedSpellReflection.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -324px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedSpellReflection.rank, simulation.character.talents.ImprovedSpellReflection.maxRank)">
														@simulation.character.talents.ImprovedSpellReflection.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedDisarm.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedDisarm.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedDisarm.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedDisarm.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -360px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedDisarm.rank, simulation.character.talents.ImprovedDisarm.maxRank)">
														@simulation.character.talents.ImprovedDisarm.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Puncture.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Puncture.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Puncture.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Puncture.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -396px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Puncture.rank, simulation.character.talents.Puncture.maxRank)">
														@simulation.character.talents.Puncture.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedDisciplines.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedDisciplines.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedDisciplines.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedDisciplines.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -432px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedDisciplines.rank, simulation.character.talents.ImprovedDisciplines.maxRank)">
														@simulation.character.talents.ImprovedDisciplines.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.ConcussionBlow.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ConcussionBlow.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ConcussionBlow.rank)" oncontextmenu="return false;" data-count="@simulation.character.talents.ConcussionBlow.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -468px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ConcussionBlow.rank, simulation.character.talents.ConcussionBlow.maxRank)">
														@simulation.character.talents.ConcussionBlow.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.GagOrder.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.GagOrder.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.GagOrder.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.GagOrder.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -504px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.GagOrder.rank, simulation.character.talents.GagOrder.maxRank)">
														@simulation.character.talents.GagOrder.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.OneHandedWeaponSpecialization.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.OneHandedWeaponSpecialization.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.OneHandedWeaponSpecialization.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.OneHandedWeaponSpecialization.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -540px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.OneHandedWeaponSpecialization.rank, simulation.character.talents.OneHandedWeaponSpecialization.maxRank)">
														@simulation.character.talents.OneHandedWeaponSpecialization.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.ImprovedDefensiveStance.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.ImprovedDefensiveStance.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.ImprovedDefensiveStance.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.ImprovedDefensiveStance.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -576px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.ImprovedDefensiveStance.rank, simulation.character.talents.ImprovedDefensiveStance.maxRank)">
														@simulation.character.talents.ImprovedDefensiveStance.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Vigilance.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Vigilance.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Vigilance.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Vigilance.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -612px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Vigilance.rank, simulation.character.talents.Vigilance.maxRank)">
														@simulation.character.talents.Vigilance.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.FocusedRage.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.FocusedRage.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.FocusedRage.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.FocusedRage.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -648px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.FocusedRage.rank, simulation.character.talents.FocusedRage.maxRank)">
														@simulation.character.talents.FocusedRage.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Vitality.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Vitality.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Vitality.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Vitality.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -684px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Vitality.rank, simulation.character.talents.Vitality.maxRank)">
														@simulation.character.talents.Vitality.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Safeguard.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Safeguard.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Safeguard.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Safeguard.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -720px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Safeguard.rank, simulation.character.talents.Safeguard.maxRank)">
														@simulation.character.talents.Safeguard.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
													<a href="?spell=@simulation.character.talents.Warbringer.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Warbringer.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Warbringer.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Warbringer.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -756px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Warbringer.rank, simulation.character.talents.Warbringer.maxRank)">
														@simulation.character.talents.Warbringer.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Devastate.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Devastate.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Devastate.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Devastate.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -792px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Devastate.rank, simulation.character.talents.Devastate.maxRank)">
														@simulation.character.talents.Devastate.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.CriticalBlock.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.CriticalBlock.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.CriticalBlock.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.CriticalBlock.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -828px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.CriticalBlock.rank, simulation.character.talents.CriticalBlock.maxRank)">
														@simulation.character.talents.CriticalBlock.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.SwordAndBoard.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.SwordAndBoard.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.SwordAndBoard.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.SwordAndBoard.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -864px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.SwordAndBoard.rank, simulation.character.talents.SwordAndBoard.maxRank)">
														@simulation.character.talents.SwordAndBoard.rank
													</div>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.DamageShield.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.DamageShield.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.DamageShield.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.DamageShield.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -900px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.DamageShield.rank, simulation.character.talents.DamageShield.maxRank)">
														@simulation.character.talents.DamageShield.rank
													</div>
												</td>
												<td>
												</td>
											</tr>
											<tr>
												<td>
												</td>
												<td>
													<a href="?spell=@simulation.character.talents.Shockwave.currentSpellId" oncontextmenu="return false;" @onclick:preventDefault @onmouseup="args => simulation.character.talents.Shockwave.ProcessClick(args.Button)" @onmouseup:preventDefault>
														<div class="talent-icon @GrayscaleIcon(simulation.character.talents.Shockwave.rank) " oncontextmenu="return false;" data-count="@simulation.character.talents.Shockwave.rank" style="background-image: url('../data/icons/protection.jpg'); background-position: -936px 0px"></div>
													</a>
													<div class="talent-number @TalentNumberStyles(simulation.character.talents.Shockwave.rank, simulation.character.talents.Shockwave.maxRank)">
														@simulation.character.talents.Shockwave.rank
													</div>
												</td>
												<td>
												</td>
												<td>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="col-sm-6">
						<section id="glyphs">
							<h1>Glyphs</h1>
							<h2>Major</h2>
							<a rel="spell=@simulation.character.glyphManager.majorOne">
								<InputSelect @bind-Value="simulation.character.glyphManager.majorOne">
									@foreach (Glyph glyph in GlyphDatabase.glyphs)
									{
										if (glyph.id != simulation.character.glyphManager.majorTwo && glyph.id != simulation.character.glyphManager.majorThree)
										{
											<option value="@glyph.id">@glyph.name</option>
										}
									}

								</InputSelect>
							</a><br /><br />
							<a rel="spell=@simulation.character.glyphManager.majorTwo">
								<InputSelect @bind-Value="simulation.character.glyphManager.majorTwo">
									@foreach (Glyph glyph in GlyphDatabase.glyphs)
									{
										if (glyph.id != simulation.character.glyphManager.majorOne && glyph.id != simulation.character.glyphManager.majorThree)
										{
											<option value="@glyph.id">@glyph.name</option>
										}
									}
								</InputSelect>
							</a><br /><br />
							<a rel="spell=@simulation.character.glyphManager.majorThree">
								<InputSelect @bind-Value="simulation.character.glyphManager.majorThree">
									@foreach (Glyph glyph in GlyphDatabase.glyphs)
									{
										if (glyph.id != simulation.character.glyphManager.majorTwo && glyph.id != simulation.character.glyphManager.majorOne)
										{
											<option value="@glyph.id">@glyph.name</option>
										}
									}
								</InputSelect>
							</a><br /><br />
							<h2>Minor</h2>
						</section>
					</div>
				</div>



				<!-- #endregion -->

			</div>
		</div>
	</div>


</EditForm>
@code {
	public EditContext editContext;
	protected override void OnInitialized()
	{
		editContext = new EditContext(simulation);
		editContext.OnFieldChanged += (sender, eventArgs) =>
		{
			Console.WriteLine("OnFieldChanged for FieldName = " + eventArgs.FieldIdentifier.FieldName + " " + sender.ToString());
		};
		base.OnInitialized();
	}

	const string noteKey = "note";
	string noteContent;

	public async void UpdateLocalStorage()
	{
		await localStore.SetItemAsync("settings", simulation);
		//Logger.LogInformation(simulation.settings.character.race.ToString());
	}

	public async void ClearLocalStorage()
	{
		var result = await localStore.GetItemAsync<Warrior.Settings>("settings");
		var test = await localStore.GetItemAsStringAsync("settings");
		Logger.LogInformation(test);
	}

	protected override async Task OnInitializedAsync()
	{

	}
	private string GrayscaleIcon(int rank)
	{
		if (rank == 0)
		{
			return "talent-grayscale";
		}
		return "";
	}

	private string BuffGrayscaleIcon(bool isActive)
	{
		if (!isActive)
		{
			return "buff-grayscale";
		}
		return "";
	}

	private string TalentNumberStyles(int rank, int maxRank)
	{
		if (rank == 0)
		{
			return "talent-number-hidden";
		}
		if (rank == maxRank)
		{
			return "talent-number-green";
		}
		return "talent-number-orange";
	}
}



